/.DS_Store
/.My_weather.json
/.env
/.venv
/gps.py
/test.py
.My_orders_details.json
.My_position_details.json
.My_stocks.json
.My_stock_option_dates.json
.My_stock_option_strikes.json
.My_lot_details.json
